:root {
  --primary-color: #4a3301;
  --primary-color-hover: #936501;
  --title-color: #000;
  --text-color: #000;
  --secondary-color: #fc765b;
  --secondary-color-hover: #fc925b;
  --third-color: #b89ba1;
  --third-color-hover: #c3a395;
}

body {
  -webkit-font-smoothing: antialiased;
  color: var(--text-color);
}

body,
input,
button {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-color);
  font-family: Ubuntu;
}

.btn-bee-secondary {
  background-color: var(--secondary-color);
  border: unset;
  padding: 9px 20px;
  border-radius: 10px;
}
.btn-bee-secondary:active,
.btn-bee-secondary:focus,
.btn-bee-secondary:hover {
  background-color: var(--secondary-color-hover);
  border: unset;
  transition: 0.3s;
}
.btn-bee-secondary:focus {
  box-shadow: 0 0 0 0.2rem rgb(252 146 91 / 50%);
}

.btn-bee-third {
  background-color: var(--third-color);
  border: unset;
  padding: 9px 20px;
  border-radius: 10px;
}
.btn-bee-third:active,
.btn-bee-third:focus,
.btn-bee-third:hover {
  background-color: var(--third-color-hover);
  border: unset;
  transition: 0.3s;
}
.btn-bee-third:focus {
  box-shadow: 0 0 0 0.2rem rgb(252 146 91 / 50%);
}

.btn-access {
  margin-top: 1rem;
  color: white;
  border: 0;
  background-color: var(--primary-color);
}

.btn-access:disabled,
.btn-access:hover {
  background-color: var(--primary-color-hover);
  color: white !important;
  transition: 0.3s;
}

.no-link,
.no-link:hover,
.no-link:focus,
.no-link:active,
.no-link:visited {
  text-decoration: none;
}

h2 {
  font-size: 56px;
  line-height: 64px;
}

h3 {
  font-size: 44px;
  line-height: 65px;
}

h4 {
  font-size: 35px;
  line-height: 52px;
}

h5 {
  font-size: 28px;
  line-height: 42px;
}

.Toastify__toast--error {
  background-color: #fc5b5b !important;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
}

.Toastify__toast--success {
  background-color: #59ce4a !important;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
}

.Toastify__close-button {
  display: none;
}

@media (max-width: 992px) {
  h2 {
    font-size: 45px;
    line-height: 52px;
  }

  h3 {
    font-size: 40px;
    line-height: 50px;
  }

  h4 {
    line-height: 40px;
  }
}

@media (max-width: 576px) {
  h4 {
    font-size: 29px;
  }
}
