.public-template {
  height: 100vh;
  background-color: #fdcb5c;
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  overflow-y: auto;
}

.public-template main {
  margin-top: 20vh;
}

.public-template p {
  font-size: 24px;
  line-height: 32px;
}

@media (max-width: 992px) {
  .public-template main {
    margin-top: 15vh;
  }
}
